
.our-team {
    padding: 60px 0;
    background-color: var(--fon-our-team-color);
}

.our-team__subtitle {
    margin-bottom: 10px;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.267;
    letter-spacing: 0.03em;
    color: var(--text-title-subtitle-color);
}

.our-team__desk {
    text-align: center;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--desk-link-color);
}

.our-team__card {
    padding: 30px 32px;
}

.our-team__item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} 

@media screen and (max-width: 767px) {
    .our-team__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 768px) {
    .our-team__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -15px;
    }

    .our-team__item {
        margin: 15px;
    }  
}


// .our-team__list {
//     display: flex;
//     justify-content: center; 
// } 

// .our-team__item {
//     width: 270px;
//     background: #FFFFFF;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
//     0px 1px 1px rgba(0, 0, 0, 0.14), 
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;

//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }

// .our-team__card {
//     padding: 30px 32px;
// }

// .our-team__subtitle {
//     margin-bottom: 10px;
//     text-align: center;

//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.267;
//     letter-spacing: 0.03em;
//     color: var(--text-title-subtitle-color);
// }

// .our-team__desk {
//     text-align: center;
//     margin-bottom: 16px;

//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.188;
//     letter-spacing: 0.03em;
//     color: var(--desk-link-color);
// }