.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    background-color: blanchedalmond;

    padding: 40px 40px;
}

 .modal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    max-width: 450px;
    transform: translate(-50%, -50%);
    padding: 40px;
    
    box-sizing: border-box;
    background: var(--text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // @media screen and (min-width: 768px) {
    //     width: 450px;
    // }
 }  

.button-close {
    position: absolute;

    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;

    background: var(--text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--text-title-subtitle-color);
    margin-bottom: 6px;

    text-align: center;

    @media screen and (min-width: 480px) {
        font-size: 20px;
        margin-bottom: 12px;
    }
}

.modal-form__label {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: var(--desk-link-color);

    @media screen and (min-width: 480px) {
        margin-bottom: 10px;
    }
}

.icon-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0%;
    margin-bottom: 10px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.modal-form__icon {
    position: absolute;
    display: block;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:hover + &,
    .modal-form__input:focus + & {
        fill: var(--accent-color);
    }
}

.modal-form__massage {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    font-family: sans-serif;
    box-sizing: border-box;
    display: block;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 7px;
    line-height: 1.667;
    letter-spacing: 0.03em;
    color: var(--desk-link-color);

    @media screen and (min-width: 480px) {
        font-size: 11px;
        margin-bottom: 30px;
    }
}

/* checked focus*/
.check-box {
    width: 16px;
    height: 15px;
    margin-right: 8.4px;
    cursor: pointer;
    background-image: url("../for-sprite/rectangle-off.svg");

    .check-input:checked + & {
      background-image: url("../for-sprite/check-on.svg");
    }
    
    .check-input:focus + & {
      outline: 3px solid #005fcc;
      outline-width: 1.333;
      outline-style: auto;
    }
}

.form-link {
        color: var(--accent-color);
        box-sizing: border-box;
        border-radius: 4px;
}

// .backdrop.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
// }

// .backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.2);
//     z-index: 10;
//     transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), 
//                 opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

//  .modal {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     padding: 40px;
    
//     box-sizing: border-box;
//     background: var(--text-color);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
//     0px 1px 1px rgba(0, 0, 0, 0.14), 
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 4px;
    
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//  }   

// .button-close {
//     position: absolute;

//     width: 30px;
//     height: 30px;
//     top: 8px;
//     right: 8px;
//     display: flex;
//     align-items: center;

//     background: var(--text-color);
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     box-sizing: border-box;
//     border-radius: 50%;
//     cursor: pointer;
    
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         fill: var(--accent-color);
//     }
// }

// .modal-form {
//     display: flex;
//     flex-direction: column;
// }

// .modal-form__title {
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 1.15;
//     letter-spacing: 0.03em;
//     color: var(--text-title-subtitle-color);
//     margin-bottom: 12px;
// }

// .modal-form__label {
//     margin-bottom: 10px;
//     font-size: 12px;
//     line-height: 1.67;
//     letter-spacing: 0.01em;
//     color: var(--desk-link-color);
// }

// .icon-wrapper {
//     position: relative;
//     width: 100%;
//     height: 40px;
//     margin: 0%;
//     margin-bottom: 10px;
// }

// .modal-form__input {
//     width: 100%;
//     height: 40px;
//     margin-bottom: 10px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     box-sizing: border-box;
//     border-radius: 4px;
//     padding-left: 42px;
//     cursor: pointer;

//     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         border-color: var(--accent-color);
//     }
// }

// .modal-form__icon {
//     position: absolute;
//     display: block;
//     left: 12px;
//     top: 50%;
//     transform: translateY(-50%);

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .modal-form__input:hover + &,
//     .modal-form__input:focus + & {
//         fill: var(--accent-color);
//     }
// }

// .modal-form__massage {
//     width: 100%;
//     height: 120px;
//     padding: 12px 16px;
//     font-family: sans-serif;
//     box-sizing: border-box;
//     display: block;
//     resize: none;
    
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     box-sizing: border-box;
//     border-radius: 4px;
//     cursor: pointer;
    
//     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         border-color: var(--accent-color);
//     }

//     &::placeholder {
//         color: rgba(117, 117, 117, 0.5);
//     }
// }

// .modal-form__check {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 20px;
//     margin-bottom: 30px;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--desk-link-color);
// }

// /* checked focus*/
// .check-box {
//     width: 16px;
//     height: 15px;
//     margin-right: 8.4px;
//     cursor: pointer;
//     background-image: url("../for-sprite/rectangle-off.svg");

//     .check-input:checked + & {
//       background-image: url("../for-sprite/check-on.svg");
//     }
    
//     .check-input:focus + & {
//       outline: 3px solid #005fcc;
//       outline-width: 1.333;
//       outline-style: auto;
//     }
// }

// .form-link {
//     color: var(--accent-color);
// }
