.logotype {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-logo {
    color: var(--header-logo-color);
    
    @media screen and (max-width: 1199px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.192;
        margin-right: 93px;
    }
}

.footer-logo {
    color: var(--footer-logo-color);
}

.address__logotype {
    font-style: normal;
    display: block;
    margin-bottom: 20px;
}

// .logotype {
//     font-family: var(--title-font);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.192;
//     letter-spacing: 0.03em;
//     color: var(--accent-color);
// }

// .header__logotype {
//     margin-right: 93px;
//     padding-top: 24px;
//     padding-bottom: 25px;
// }

// .header-logo {
//     color: var(--header-logo-color);
// }

// .address__logotype {
//     display: block;
//     margin-bottom: 20px;
// }

// .footer-logo {
//     color: var(--footer-logo-color);
// }