:root {
    --text-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
    --header-logo-color: #000000;
    --mobile-menu-color: #000000;
    --footer-logo-color: #FFFFFF;
    --text-color: #FFFFFF;
    --fon-mobile-menu-color: #FFFFFF;
    --desk-link-color: #757575;
    --text-title-subtitle-color: #212121;
    --icon-color: #afb1b8;
    --fon-our-team-color: #F5F4FA;
    --fon-color: #2F303A; 
}